<docs lang="markdown">

This plugin allows to visualize results of a classification of protein 
localization patterns from microscope images of the entire HPA cell atlas(v18, 63955 images).  

Classification is performed with the winning approach of a 2018 Kaggle challenge 
(https://www.kaggle.com/c/human-protein-atlas-image-classification). 

Plots shows a UMAP projection (Uniform Manifold Approximation and Projection) calculated from the
last layer of the network (densenet121, dimensions: 1024). Each dot is an image and when clicking on a 
dot, the corresponding image is displayed together with information about the cell line, the 
protein, and a link to the HPA website. The plugin also allows to search for a gene, cell line, or 
a localization pattern.  

</docs>

<config lang="json">
{
    "name": "Nucleolus-UMAP",
    "type": "window",
    "tags": [],
    "ui": "Explore protein localization patterns in HPA images.",
    "version": "0.9.6",
    "api_version": "0.1.2",
    "description": "Explore protein localization patterns in HPA images.",
    "icon": "photo",
    "inputs": null,
    "outputs": null,
    "requirements": [
    "https://cdn.plot.ly/plotly-latest.min.js",
    "https://unpkg.com/papaparse@latest/papaparse.min.js",
    "https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js",
    "https://unpkg.com/spectre.css/dist/spectre.min.css",
    "https://unpkg.com/spectre.css/dist/spectre-exp.min.css",
    "https://unpkg.com/spectre.css/dist/spectre-icons.min.css"],
    "dependencies": [],
    "defaults": {"w": 50, "h":20, "fullscreen": true, "as_dialog": true},
    "cover": "https://imjoy-team.github.io/imjoy-plugins/hpa-umap/hpa-umap-cover.gif"
}
</config>

<script lang="javascript">
function gaussianRand() {
    var rand = 0;
    for (var i = 0; i < 6; i += 1) {
        rand += Math.random();
    }
    return (rand / 6)-0.5;
}

function transpose(data) {
    let result = {};
    for (let row of data) {
    for (let [key, value] of Object.entries(row)) {
        result[key] = result[key] || [];
        result[key].push(value); 
    }
    }
    return result;
}

const convertBase64ToFile = function (image) {
    let mime = image.match(/data:([a-zA-Z0-9]+\/[a-zA-Z0-9-.+]+).*,.*/);  
    if (mime && mime.length) {
    mime = mime[1];
    }

    let ab
    if(mime === 'image/svg+xml'){
        const byteString = image.split(',')[1];
        ab = decodeURIComponent(byteString)
    }
    else{
        const byteString = atob(image.split(',')[1]);
    ab = new ArrayBuffer(byteString.length);
    const ia = new Uint8Array(ab);
    for (let i = 0; i < byteString.length; i += 1) {
        ia[i] = byteString.charCodeAt(i);
    }
    }
    const newBlob = new Blob([ab], {
    type: mime,
    });

    return newBlob;
};

const COLORS = [
    '#f44336', '#e91e63', '#9c27b0', '#673ab7', '#3f51b5',
    '#2196f3', '#03a9f4', '#00bcd4', '#009688', '#4caf50',
    '#8bc34a', '#cddc39', '#ffeb3b', '#ffc107', '#ff9800',
    '#ff5722', '#795548', '#009e9e', '#607d8b', '#d500f9',
    '#212121', '#ff9e80', '#ff6d00', '#ffff00', '#76ff03',
    '#00e676', '#64ffda', '#18ffff',
]

class ImJoyPlugin {
    async setup() {
        const self = this
        this.store = {images: [], current_index: 0, search_query: '', selected_mode:'rim', loading: true, thumbnail: null, search_text: ''}
        this.app = new Vue({
        el: '#app',
        data: this.store,
        methods: {
            openImage(url){
                api.utils.openUrl(url)
            },
            openHPA(meta){
                debugger
                const url = 'https://www.proteinatlas.org/'+meta.gene_ensembl_id+'-'+meta.gene+'/cell/' 
                api.utils.openUrl(url)
            },
            showImage(obj){
                this.images.push(obj)
                if(this.images.length>5){
                    this.images.shift()
                }
                this.current_index = this.images.length -1
            },
            showThumbnail(obj){
                this.thumbnail = obj
            },
            search(text){
                this.search_query = text;
                self.updateUmap(self.umap_data, text)
            },
            async export_image(){
                await api.showStatus('exporting as image...')
                let url = await Plotly.toImage(self.umap_chart, {format:'png', height:2048, width:2048})
                await api.exportFile(convertBase64ToFile(url), 'HPA_V18_UMAP_densenet121.png')

                url = await Plotly.toImage(self.umap_chart, {format:'svg', height:1024, width: 1024})
                await api.exportFile(convertBase64ToFile(url), 'HPA_V18_UMAP_densenet121.svg')
                await api.showStatus('done')
            },
            async export_csv(){
                api.showMessage("Exporting as csv. This may take some time")
                
                let export_string = "ID,X,Y,GENE,LOCATIONS, ENSEMBL\n"
                self.umap_data.forEach((row)=>{
                    if(typeof row.location_code === 'string'){
                        const locs =  row.location_code.split(' ')
                        // Single loc nucleoli rim proteins (from the list I attached above) - #4DAF4A
                        // nucleoli rim from the green_rim_genes list
                        if(locs.includes("green")){
                            export_string += row["id"] + ","
                            export_string += row["x"] + ","
                            export_string += row["y"] + ","
                            export_string += row["gene"] + ","
                            export_string += "\"" + row["location"] + "\","
                            export_string += row["gene_ensembl_id"]
                            export_string += "\n"
                        }
                    }
                })
                api.exportFile(export_string, 'single-loc-nucleoli-rim-green.csv')

                export_string = "ID,X,Y,GENE,LOCATIONS, ENSEMBL\n"
                self.umap_data.forEach((row)=>{
                    if(row.location_code === 2){
                        export_string += row["id"] + ","
                        export_string += row["x"] + ","
                        export_string += row["y"] + ","
                        export_string += row["gene"] + ","
                        export_string += "\"" + row["location"] + "\","
                        export_string += row["gene_ensembl_id"]
                        export_string += "\n"

                    }
                })
                api.exportFile(export_string, 'single-loc-nucleoli-purple.csv')
                
            },
            setMode(mode){
                this.selected_mode = mode;
                self.updateUmap(self.umap_data, this.search_query)
            }
        }
    })
    }

    async plot(data){
    document.getElementById('chart').innerHTML = ''
    const updatemenus =[
            {
        buttons: [
            {
                args: [{'marker.size': 16}],
                label:'marker size: 16',
                method:'restyle'
            },
            {
                args: [{'marker.size': 8}],
                label:'marker size: 8',
                method:'restyle'
            },
            {
                args: [{'marker.size': 4}],
                label:'marker size: 4',
                method:'restyle'
            },
            {
                args: [{'marker.size': 2}],
                label:'marker size: 2',
                method:'restyle'
            },
            {
                args: [{'marker.size': 1}],
                label:'marker size: 1',
                method:'restyle'
            }
        ],
        direction: 'down',
        pad: {'r': 0, 't': 0},
        showactive: true,
        type: 'dropdown',
        x: 0.8,
        xanchor: 'left',
        y: 1.05,
        yanchor: 'top'
        }
    ]
    
    const layout = {
        hovermode:'closest',
        title:'HPAv18 UMAP (model: densenet121, images: '+data[0].x.length+')', 
        xaxis: {
            showticklabels: false,
            nticks: 10,
            domain: [-10, 10],
            range: [-10, 10],
            zeroline: false
        },
        yaxis: {
            showticklabels: false,
            nticks: 10,
            domain: [-10, 10],
            range: [-10, 10],
            zeroline: false
        },
        updatemenus: updatemenus
    }
    this.umap_chart = await Plotly.newPlot('chart', data, layout,{responsive: true})
    // Plotly.relayout('chart', {
    //     width: document.getElementById('chart').clientWidth,
    //     height: document.getElementById('chart').clientHeight
    // })
    
    // let win=null;
    document.getElementById('chart').on('plotly_click', async (data) => {
        Plotly.relayout('chart', {
            width: document.getElementById('chart').clientWidth,
            height: document.getElementById('chart').clientHeight
        })
        for(var i=0; i < data.points.length; i++){
            console.log('====>', data.points[i].customdata)
            const id = data.points[i].customdata.id
            //pts = data.points[i].customdata.gene+'\n';
            const image_base_url = 'https://images.proteinatlas.org/' + id.split('_')[0] + '/' + id.split('_')[1] +'_' + id.split('_')[2] + '_'+ id.split('_')[3]
            this.app.showImage({url: image_base_url+'_blue.jpg', meta: data.points[i].customdata})
            this.app.showImage({url: image_base_url+'_red.jpg', meta: data.points[i].customdata})
            this.app.showImage({url: image_base_url+'_green.jpg', meta: data.points[i].customdata})
            this.app.showImage({url: image_base_url+'_yellow.jpg', meta: data.points[i].customdata})
            this.app.showImage({url: image_base_url+'_blue_red_green.jpg', meta: data.points[i].customdata})
            
            const thumbnail_url = 'https://images.proteinatlas.org/' + id.split('_')[0] + '/' + id.split('_')[1] +'_' + id.split('_')[2] + '_'+ id.split('_')[3]+ '_blue_red_green_yellow_thumb.jpg'
            this.app.showThumbnail({url: thumbnail_url, meta: data.points[i].customdata})

            await api.showStatus(data.points[i].customdata.gene+', '+ data.points[i].customdata['cell_line'] + ', ' + data.points[i].customdata.location+ ', '+data.points[i].customdata.id)
            const screen_width = window.innerWidth
                || document.documentElement.clientWidth
                || document.body.clientWidth;
            if(screen_width<1024) window.scrollTo(0,document.body.scrollHeight);
        }
        //api.alert('Closest point clicked:\n\n'+pts);
    });
    document.getElementById('chart').on('plotly_hover', async (data) => {
        for(var i=0; i < data.points.length; i++){
            const id = data.points[i].customdata.id
            const thumbnail_url = 'https://images.proteinatlas.org/' + id.split('_')[0] + '/' + id.split('_')[1] +'_' + id.split('_')[2] + '_'+ id.split('_')[3]+ '_blue_red_green_yellow_thumb.jpg'
            this.app.showThumbnail({url: thumbnail_url, meta: data.points[i].customdata})
        }
    });
    }

    async updateUmap(table, filter){
    filter = (filter || '') && filter.trim()
    const filters = filter.split(' ')
    
    table = table.filter((row)=>{
        let ret = false
        for(let filter of filters){
            ret = ret || (!filter || row.gene === filter || row['gene_ensembl_id'] === filter || row['cell_line'] === filter || row['id'] === filter || row['location'].includes(filter) )

        }
        return row.gene && ret
    })
    console.log('filtered: ', table)
    
    if(table.length<=0){
        await api.alert('No image found.')
        return
    }
    await api.showMessage(table.length + ' images found.')

    const dataObj = transpose(table)
    
    const color_map = {}
    for(let i=0; i<COLORS.length; i++){
        color_map[i] = COLORS[i]
    }
    
    const data = [{
        type: "scattergl",
        mode: "markers",
        marker: {
            size: 6,
            color: dataObj.location_code.map((index)=>{
                // 0 Nucleoplasm
                // 2 Nucleoli
                // 3 Nucleoli fibrillar center
                // 4 Nuclear speckles
                // 5 Nuclear bodies
                const alpha = "D0"
                
                // Single loc nucleoli - #984EA3
                if(index === 2){
                    return '#984EA3' + alpha
                }
                // Single loc nucleoli fibrillar center - #377EB8
                else if(index === 3){
                    return '#377EB8' + alpha
                }
                // Single loc nuclear speckles -#a65628
                else if(index === 4){
                    return '#A65628' + alpha
                }
                // Single loc nuclear bodies - #FF7F00
                else if(index === 5){
                    return '#FF7F00' + alpha
                }
                // Multiloc
                else if(typeof index === 'string'){
                    const locs = index.split(' ')
                    // Single loc nucleoli rim proteins (from the list I attached above) - #4DAF4A
                    // nucleoli rim from the green_rim_genes list
                    if(locs.includes("green")){
                        if(this.app.selected_mode === 'rim')
                            return '#4DAF4A' + alpha
                        else
                            return '#984EA3' + alpha
                    }
                    // Multiloc nucleoli, nucleoli fibrillar center proteins or nucleoli rim from the yellow_rim_genes list
                    else if(locs.includes("2") || locs.includes("3") || locs.includes("yellow")){
                        return '#FFFF33' + alpha
                    }
                    else{
                        return '#e0e0e043'
                    }
                    
                }
                else{
                    return '#e0e0e043'
                }
            })
            //colorscale: 'Viridis'
        },
        text: dataObj.info,
        x: dataObj.x,
        y: dataObj.y,
        customdata: table
    }]
    this.plot(data)
    }
    async run(my) {
    let green_rim_genes = await api.getAttachment('green_rim_genes')
    green_rim_genes = green_rim_genes.split('\n').filter((gene)=>{
        return gene.startsWith('ENSG')
    })
    let yellow_rim_genes = await api.getAttachment('yellow_rim_genes')
    yellow_rim_genes = yellow_rim_genes.split('\n').filter((gene)=>{
        return gene.startsWith('ENSG')
    })

    api.showMessage(`nucleoli rim list with ${green_rim_genes.length + yellow_rim_genes.length} items loaded, green: ${green_rim_genes.length}, yellow: ${yellow_rim_genes.length}.`)
    console.log('rim protein======>', green_rim_genes, yellow_rim_genes)
    const url = "https://dl.dropbox.com/s/k9ekd4ff3fyjbfk/umap_results_fit_all_transform_all_sorted_20190422.csv"
    Papa.parse(url, {
        download: true,
        header: true,
        dynamicTyping: true,
        skipEmptyLines: true,
        error: (err, file, inputElem, reason)=> {
            api.alert('Falied to load the table: ' + reason.toString())
            this.app.loading = false
            this.app.$forceUpdate()
        },
        complete: (results) => {

            this.app.loading = false
            this.app.$forceUpdate()
            
            const rim_locs = []
            for(let loc of results.data){
                if(yellow_rim_genes.includes(loc.gene_ensembl_id)){
                    loc.location = loc.location+','+ 'Nucleoli rim(Y)'
                    loc.location_code = loc.location_code + ' yellow'
                    rim_locs.push(loc)
                }
                if(green_rim_genes.includes(loc.gene_ensembl_id)){
                    loc.location = loc.location+','+ 'Nucleoli rim(G)'
                    loc.location_code = loc.location_code + ' green'
                    rim_locs.push(loc)
                }
                loc.info = loc.gene + '(' + loc.cell_line + ')' + ': ' + loc.location
            }
            console.log('===============>', results)
            api.showMessage(`${rim_locs.length} Necleoli rim proteins(antibodies) detected: `, rim_locs)
            this.umap_data = results.data
            this.updateUmap(this.umap_data)
        }
    })
    
    }
}

api.export(new ImJoyPlugin())
</script>

<window lang="html">
    <div id="app">
        <header class="navbar">
        <section class="navbar-section">
            <a class="navbar-brand mr-2">HPA Nucleolus UMAP</a>
            <button @click="export_image(); export_csv();" class="btn btn-link">Export</button>
            <div class="btn-group btn-group-block">
                <button @click="setMode('rim')" class="btn" :class="{'btn-primary': selected_mode==='rim'}">rim highlight</button>
                <button @click="setMode('nuc')" class="btn" :class="{'btn-primary': selected_mode==='nuc'}">nucleoli only</button>
            </div> 
        </section>
        <section class="navbar-section">
            <div class="input-group input-inline">
            <input class="form-input" type="text" v-model="search_text" @keyup.enter="search(search_text)" placeholder="search">
            <button class="btn btn-primary input-group-btn" @click="search(search_text)">Search</button>
            </div>
        </section>
        </header>
        <div class="container">
        <div class="loading loading-lg" v-if="loading">Loading...</div>
        <div class="columns" v-show="!loading">
        <div id="chart" class="column col-2"></div>
        <div id="image-container" class="column col-2">
            <img v-if="thumbnail" class="img-responsive rounded hpa-thumbnail" :src="thumbnail.url" :alt="thumbnail.meta.id"></img> 
            <div v-if="images[current_index]" style="text-align: center;">
                <br>
            <h3>{{images[current_index].meta['gene']}} ({{images[current_index].meta['cell_line']}})</h3>
            <p>cell line: {{images[current_index].meta['cell_line']}}</p>
            <p>gene: {{images[current_index].meta['gene']}}</p>
            <p>location: {{images[current_index].meta['location']}}</p>
            <p>image id: {{ images[current_index].meta.id}} </p>
            <button class="btn btn-primary" @click="openHPA(images[current_index].meta)">Open HPA page</button> <button class="btn" @click="openImage(images[current_index].url)"><i class="icon icon-share"></i></button>
            
            </div>
            <h2 v-else>
                <br>
                Click on the UMAP to see the sample image.
            </h2>
            
            <div class="carousel">
            <!-- carousel locator -->
            <input class="carousel-locator" v-for="(img, i) in images" :id="'slide-'+i" type="radio" name="carousel-radio" hidden="" v-model="current_index" :value="i" checked="">
            
            <!-- carousel container -->
            <div class="carousel-container">
                <!-- carousel item -->
                <figure class="carousel-item" v-for="(img, i) in images">
                    <img class="img-responsive rounded" :src="img.url" :alt="img.meta.id" @click="openImage(images[current_index].url)">
                </figure>

            </div>
            <!-- carousel navigation -->
            <div class="carousel-nav">
                <label class="nav-item text-hide c-hand" v-for="(img, i) in images" :for="'slide-'+i">{{img.meta.id}}</label>
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>

</window>
<attachment name="green_rim_genes">
ENSG00000122557
ENSG00000188649
ENSG00000135953
ENSG00000145391
ENSG00000108592
ENSG00000085721
ENSG00000077080
ENSG00000067334
ENSG00000188976
ENSG00000171490
ENSG00000175182
ENSG00000180257
ENSG00000149262
ENSG00000088205
ENSG00000164091
ENSG00000010626
ENSG00000124383
ENSG00000134697
ENSG00000117395
ENSG00000021826
ENSG00000253313
ENSG00000128596
ENSG00000135638
ENSG00000175832
ENSG00000170468
ENSG00000109189
ENSG00000155438
</attachment>
<attachment name="yellow_rim_genes">
ENSG00000051180
ENSG00000125872
ENSG00000128245
ENSG00000131591
ENSG00000147050
ENSG00000164924
ENSG00000180071
ENSG00000181638
ENSG00000183878
ENSG00000198874
ENSG00000225528
ENSG00000230453
ENSG00000232112
ENSG00000067365
ENSG00000163563
ENSG00000123983
ENSG00000188368
ENSG00000174485
ENSG00000173145
ENSG00000139289
ENSG00000197385
ENSG00000137876
ENSG00000166261
ENSG00000133114
ENSG00000097096
ENSG00000205476
ENSG00000178691
ENSG00000125089
ENSG00000214274
ENSG00000162650
ENSG00000122406
ENSG00000036549
ENSG00000178685
ENSG00000011260
ENSG00000170270
ENSG00000100722
ENSG00000138801
ENSG00000087502
ENSG00000163584
ENSG00000261236
ENSG00000264668
ENSG00000175573
ENSG00000101457
ENSG00000203805
ENSG00000132823
ENSG00000198945
ENSG00000148291
ENSG00000111615
ENSG00000008382
ENSG00000169592
ENSG00000167394
ENSG00000134146
ENSG00000086189
ENSG00000151304
ENSG00000105447
ENSG00000153237
ENSG00000104047
ENSG00000221944
ENSG00000189091
ENSG00000110104
ENSG00000103550
ENSG00000175216
ENSG00000100029
ENSG00000107937
ENSG00000164332
ENSG00000285396
ENSG00000126749
ENSG00000155329
ENSG00000136045
ENSG00000133773
ENSG00000159335
ENSG00000144711
ENSG00000138138
ENSG00000165732
ENSG00000153044
ENSG00000171055
ENSG00000145220
ENSG00000197498
ENSG00000119950
ENSG00000071889
ENSG00000158552
ENSG00000162755
ENSG00000176222
ENSG00000131558
ENSG00000112578
ENSG00000137802
ENSG00000183856
ENSG00000203965
ENSG00000145908
ENSG00000148704
ENSG00000172331
ENSG00000180758
ENSG00000171824
ENSG00000198265
ENSG00000140538
ENSG00000170027
ENSG00000067533
ENSG00000145555
ENSG00000148296
ENSG00000048405
ENSG00000161036
ENSG00000103479
ENSG00000171497
ENSG00000178662
ENSG00000160208
ENSG00000277149
ENSG00000174718
ENSG00000055483
ENSG00000181163
ENSG00000166913
ENSG00000175793
ENSG00000197724
ENSG00000108953
ENSG00000123485
ENSG00000156711
ENSG00000100503
ENSG00000185000
ENSG00000148843
ENSG00000163938
ENSG00000121570
ENSG00000111206
ENSG00000149948
ENSG00000163064
ENSG00000184897
ENSG00000187837
ENSG00000134308
ENSG00000179295
ENSG00000182944
ENSG00000115053
ENSG00000148773
</attachment>
<style lang="css">
    #chart{
    width: 800px;
    height: 800px;
    max-width: calc( 100% + 140px );
    margin-left: -70px;
}
#image-container{
    text-align: center;
    width: 400px;
    height: 400px;
    max-width: 100%;
}
.carousel{
    margin: 20px;
}

.hpa-thumbnail{
    position: absolute;
    left: 30px;
    top: 100px;
}
</style>
