<docs lang="markdown">
  [TODO: write documentation for this plugin.]
  </docs>
  
  <config lang="json">
  {
    "name": "SingleCellAnnotator",
    "type": "window",
    "tags": [],
    "ui": "",
    "version": "0.1.3",
    "api_version": "0.1.5",
    "description": "Annotate images for HPA single-cell image classification",
    "icon": "extension",
    "inputs": null,
    "outputs": null,
    "env": "",
    "requirements": [
        "https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js",
        "https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js",
        "https://static.imjoy.io/spectre.css/spectre.min.css",
        "https://static.imjoy.io/spectre.css/spectre-exp.min.css",
        "https://static.imjoy.io/spectre.css/spectre-icons.min.css"
    ],
    "dependencies": [],
    "defaults": {"w": 20, "h": 10},
    "runnable": true
  }
  </config>
  
  <script lang="javascript">
  const base_url = 'https://weak-bat-32.telebit.io'
  /*'https://weak-bat-32.telebit.io'*/
  
  const app = new Vue({
    el: '#app',
    data: {
      COLORS: [
        '#76ff03', '#e91e63', '#9c27b0', '#673ab7',
        '#2196f3', '#03a9f4', '#00bcd4', '#009688',
        '#4caf50', '#f44336', '#8bc34a', '#cddc39',
        '#ff0000', '#ffeb3b', '#ffc107', '#ff9800',
        '#ff5722', '#795548', '#9e9e9e', '#607d8b',
        '#d500f9', '#ff9e80', '#ff6d00', '#ffff00', 
        '#00e676', '#64ffda', '#18ffff', '#3f51b5',
        '#e91e63'
          ],
      user:{
        username: "HaoXu",
        password: "hao"
      },
      title: 'Hello World',
      current_panel: 'login',
      current_image: null,
      previous_image: null,
      next_image: null,
      website_info: "",
    },
    methods: {
      async login(){
        const formData = new FormData();
        formData.append('username', this.user.username);
        formData.append('password', this.user.password);
        const response = await fetch(base_url + "/login", {
          method: 'POST',
          mode: 'cors',
          cache: 'no-cache',
          body: formData
        })
        if(response.status === 200){
            const res = await response.json()
            if(res.success){
              this.ChooseAnnotation();;
            }
            else{
              api.alert('Failed to logg in, error' + res.error);
            }
        }
  },
      async sayHi(){
        await api.alert('Hi')
      },
      async ChooseAnnotation(){
        this.current_panel = 'annotation choice';
      },
      async goToAnnotation(){
        this.current_panel = 'annotation'
        this.current_image = "https://images.proteinatlas.org/115/672_E2_1_blue_red_green_medium.jpg";
      },
      async goToMenu(){
        this.current_panel = 'navigation'
      },
      async CurrentImage(){
        this.current_panel = 'annotation'
        this.current_image = "https://images.proteinatlas.org/115/672_E2_1_blue_red_green_medium.jpg";
      },
      
      async NextImage(){
        this.current_panel = 'annotation'
        this.current_image = "https://images.proteinatlas.org/30741/845_A6_1_blue_red_green_medium.jpg";
      },
      async PreviousImage(){
        this.current_panel = 'annotation'
        this.current_image = "https://images.proteinatlas.org/30741/800_A6_1_blue_red_green_medium.jpg";
      },
    }
  })
  
  class ImJoyPlugin {
    async setup() {
  
    }
  
    async run(my) {
  
    }
  }
  
  api.export(new ImJoyPlugin())
  </script>
  
  <window lang="html">
    <div id="app">
      <div class="panel" v-if="current_panel=='login'">
        <div class="panel-header">
          <div class="panel-title">Login</div>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="form-label" for="input-example-1">Name</label>
            <input class="form-input" type="text" name="username" v-model="user.username"  placeholder="username">
          </div>
          <div class="form-group">
            <label class="form-label" for="input-example-1">Password</label>
            <input class="form-input" type="text" name="password" v-model ="user.password" placeholder="password">
          </div>
          <button class="btn" @click="login()">Login</button>
          <button class="btn" @click="goToAnnotation()">Go To Annoation</button>
          <button @click="goToMenu()">Go To Menu</button>
        </div>
        <div class="panel-footer">
          <!-- buttons or inputs -->
        </div>
      </div>
  
      <div class="panel" v-if="current_panel=='annotation choice'">
        <div class="panel-header">
          <div class="panel-title">Please choose a task</div>
        </div>
        <div class="panel-body">
          <button class="btn btn-primary" @click="goToAnnotation()">Single Protein Annotation</button>
          <button class="btn">Complete Protein Annotation</button>
        </div>
        <div class="panel-footer">
          <!-- buttons or inputs -->
        </div>
      </div>
  
  
      <div class="panel" v-if="current_panel=='annotation'">
        <div class="panel-header">
          <div class="panel-title"></div>
        </div>
        <section class="panel-body">
  
          <button class="btn btn-primary">Ajust Segmentation</button>
          <button class="btn">Yes</button>
          <button class="btn">No</button>
          <button class="btn">Protein Tag</button>
  
          <button class="btn" @click="PreviousImage()">Previous Image</button>
          <br>
          <hr>
          <br>
          <div>
          <button class="btn btn-primary">Bad Cell</button>
  
          <button class="btn">Comment</button>
          <img :src="current_image"></img>
          </div>
        </section>
        <div class="panel-footer">
          <!-- buttons or inputs -->
        </div>
      </div>
      <div class="panel" v-if="current_panel=='navigation'">
        <div class="navigation" style="width:200px">
          <nav class="slds-nav-vertical" aria-label="Sub page">
          <div class="slds-nav-vertical__section">
            <h2 id="entity-header" class="slds-nav-vertical__title">Home</h2>
            <ul aria-describedby="entity-header">
              <li class="slds-nav-vertical__item slds-is-active">
                <!--<a href="javascript:void(0);" class="slds-nav-vertical__action">Login</a>-->
                <a @click="Login()">Login</a>
              </li>
              <li class="slds-nav-vertical__item">
                <a href="javascript:void(0);" class="slds-nav-vertical__action">Progress</a>
              </li>
              <li class="slds-nav-vertical__item">
                <a href="javascript:void(0);" class="slds-nav-vertical__action">Message</a>
              </li>
              <li class="slds-nav-vertical__item">
                <a href="javascript:void(0);" class="slds-nav-vertical__action">Close</a>
              </li>
              <li class="slds-nav-vertical__item">
                <a href="javascript:void(0);" class="slds-nav-vertical__action">All Reports</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </window>
  <style lang="css">
    .navigation { 
              background-color: FAFAFB; 
              color: white; 
              padding: 8px; 
          } 
  </style>